recursive-include src/ipracticom_sweeper/webui/dist *
recursive-include src/ipracticom_sweeper/templates *
recursive-include src/ipracticom_sweeper/static *
recursive-include src/ipracticom_sweeper/rules *.yaml
