[Unit]
Description=iPracticom Sweeper watchdog
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ipracticom-sweeper-watchdog.sh
Nice=10
PrivateTmp=true
NoNewPrivileges=true